@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
:root{
  margin: 0;
  padding: 0;
}

body { 
  font-family: "IBM Plex Mono", sans-serif; 
  text-align: center; 
  height: 98vh;
  width: 70%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("./assets/img/fondo.png");
}
.box{
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 10px );
  border: 1px solid rgba( 138, 43, 226, 0.18 );
  padding: 20px;
  width: 100%;
  min-height: 40vh;
  max-height: auto;
}
h1{
  font-family: "Press Start 2P";
  color:whitesmoke;
  width: 100%;
  align-self:flex-end;
  padding: 20px;
}
#pregunta-container { 
  width: 100%;
  color:whitesmoke;
  align-self: baseline;
}
#respuesta{
  font-family: "Press Start 2P" ;
  padding: 20px;
  color: whitesmoke;
}

button { 
  width: 90%;
  margin-top: 10px; 
  padding: 10px;
  background-color: whitesmoke;
 }

 @media (max-width: 460px) {
  body{
    width: 95%;
  }
  h1{
    font-size: 28px;
  }
  .box{
    height: auto;
  }
 }